COMPOSE_PROJECT_NAME=bloodledger
FABRIC_CHANNEL_NAME=bloodledger-dev
MEDIATRIX_MSP_ID=MediatrixMSP
ORDERER_MSP_ID=OrdererMSP
FABRIC_PEER_ENDPOINT=peer0-mediatrix:7051
FABRIC_ORDERER_ENDPOINT=orderer0:7050
FABRIC_HEALTH_CHAINCODE_NAME=bloodledger-health
MEDIATRIX_CA_ADMIN_USER=mediatrix-ca-admin
MEDIATRIX_CA_ADMIN_PASSWORD=
ORDERER_CA_ADMIN_USER=orderer-ca-admin
ORDERER_CA_ADMIN_PASSWORD=
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=bloodledger_dev
POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=
POSTGRES_MIGRATOR_USER=bloodledger_migrator
POSTGRES_MIGRATOR_PASSWORD=
POSTGRES_APP_USER=bloodledger_app
POSTGRES_APP_PASSWORD=
POSTGRES_HOST_PORT=5432
